.new-conversation {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: grey;
    opacity: 0.4;
}

.new-conversation-box {
    background: orange;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 25%;
    width: 400px;
    height: 200px;
}
