@import '../../../../colors.scss';
.conversation-preview {
    text-decoration: none;
    width: 100%;
    height: 100px;
    display: flex;
}

.info {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
}

.img-preview{
    height: 70%;
    border-radius: 50px 50px 50px 50px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    margin-right: 5px;
}


.header {
    display: flex;
    align-items: baseline;
}

.recipient  {
    color: $milk;
    text-shadow: -1px 0 $mold, 0 1px $mold, 1px 0 $mold, 0 -1px $mold;
    margin:0;
    font-size: 18px;
}

.timestamp{
    color: $mold;
    font-size: 12px;
    vertical-align: middle;
    margin-left: 10px;
}

.text-preview{
    color: $mold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
