@import '../../../../colors.scss';

.sending{
    float: right;
    background: $moss;
    border-radius: 50px 15px 5px 30px;
}

.receiving {
    float: left;
    background: purple;
    border-radius: 15px 50px 30px 5px;
}

.sending, .receiving{
    style: inline;
    width: 30%;
    padding: 15px;
}


.message-wrapper{
    clear: both;
    width: 100%;
}

