@import '../../colors.scss';


.conversation-header {
    height: 10%
}

.conversation-area {
    height: 80%;
    overflow: auto;
    border-top: 1px solid $mold;
    border-bottom: 1px solid $mold;
}

.form-area {
    height: 10%;
}

.form-area form{
    display: flex;
}

.conversation-input{
    resize: none;
    height: 22px;
}

.conversation {
    display: flex;
    flex-direction: column;
    background: $milk;
    width: 100%;
    overflow: hidden;
}
