.header {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid grey;

}

.header > h1 {
    display: inline;
    color: blue;
    margin-right: 10px;
    margin-left: 10px;
    vertical-align: middle;
    line-height: 35px;
    font-size: 35px;
}

.header > a {
    float: right;
    line-height: 35px;
    vertical-align: middle;
}

