@import '../../colors.scss';

.conversations{
    display: flex;
    flex-direction: column;
    width: 25%;
    overflow: auto;
    background: $red-mud;
}

.conversation-list {
    border-bottom: solid $mold 1px;
    border-top: solid $mold 1px;
    height: 80%;
}
.conversations-header {
    height: 10%;
}

.conversation-header {
    margin-top: auto;
    margin-bottom: auto;
}
.conversations-footer {
    height: 10%;
}

.conversations ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.list-message{
    text-align: center;
}

.list-message > span {
    font-size: 20px;
    vertical-align: middle;
    line-height: 500px;
}
